Checks: >
  -*,
  clang-analyzer-*,
  bugprone-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*,
  cppcoreguidelines-*,
  misc-*,
  -google-*,
  -llvm-*,
  -boost-*,
  -fuchsia-*,
  -zircon-*,
  -android-*,
  -abseil-*,
  -cppcoreguidelines-avoid-magic-numbers,
  -readability-magic-numbers,
  -modernize-use-trailing-return-type,
  -cppcoreguidelines-pro-type-union-access,
  -bugprone-easily-swappable-parameters,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -misc-non-private-member-variables-in-classes,
  -portability-avoid-pragma-once

WarningsAsErrors: ''
HeaderFilterRegex: '^(src|include)/'
FormatStyle: none
